.p1{
    text-align: start;
    width: 200px;
    height: 85px;
    border-radius: 3px;
}

.card1{
    background-color: #8c8c8c;
}

.card2{
    background-color: #e0ac08;
}

.card4{
    background-color: #ff4961;
}

.cTextPadd{
    margin-left: 5%;
}

.classItem1{
    --background: #f6f7f9;
    height: 50px;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 8px;
}
