<ion-content style="--background: #f6f7f9">
    <ion-row>
        <ion-col style="margin-top: 25%" class="ion-text-center">
            <h1><b>Inscription</b></h1>
        </ion-col>
        <ion-col>
            <div style="width: 200px;
                        height: 200px;
                        background-color: #3a7be0;
                        border-bottom-left-radius: 200px;

">
            </div>
        </ion-col>
    </ion-row>

    <form>
        <ion-item lines="none">
            <mat-form-field appearance="fill">
                <mat-label>Prénom</mat-label>
                <input matInput type="mail" class="cInputWei">
            </mat-form-field>
        </ion-item>
        <ion-item lines="none">
            <mat-form-field appearance="fill">
                <mat-label>Nom</mat-label>
                <input matInput type="mail" class="cInputWei">
            </mat-form-field>
        </ion-item>
        <ion-item lines="none">
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="mail" class="cInputWei">
            </mat-form-field>
        </ion-item>
        <ion-item lines="none">
            <mat-form-field appearance="fill">
                <mat-label>Téléphone</mat-label>
                <input matInput type="mail" class="cInputWei">
            </mat-form-field>
        </ion-item>
        <ion-item lines="none">
            <mat-form-field appearance="fill">
                <mat-label>identifiant</mat-label>
                <input matInput type="mail" class="cInputWei">
            </mat-form-field>
        </ion-item>
        <ion-item lines="none">
            <mat-form-field appearance="fill">
                <mat-label>Code PPM</mat-label>
                <input matInput type="mail" class="cInputWei">
            </mat-form-field>
        </ion-item>
        <ion-item lines="none">
            <mat-form-field appearance="fill">
                <mat-label>Ninea</mat-label>
                <input matInput type="mail" class="cInputWei">
            </mat-form-field>
        </ion-item>



        <ion-button expand="block" color="secondary" style="margin-left: 4%;margin-right: 4%">Accéder à votre compte</ion-button>
    </form>
    <br>

    <p class="ion-text-center">Je déja un compte. <b style="color: #3dc2ff" (click)="goToConnexion()">Me connecter</b></p>
</ion-content>
